<div class="container">
    <div class="mt-3 text-center">
        Login form
    </div>
    <div class="text-center">
        Angular demo
    </div>

    <hr>
    <div class="d-flex justify-content-center">
        <div class="card p-3">
            <div class="d-flex justify-content-center mb-3">
                <img class="rounded-circle" alt="avatar1" width="150" height="150" src="assets/linux.png" />
            </div>

            <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="sendLoginForm()">
                <div>
                    <input type="email" formControlName="email" class="form-control" placeholder="Email">
                    <span class="form-text text-danger"
                        *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].touched">
                        Invalid email format.
                    </span>
                </div>
                <div class="mt-2">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password">
                    <span class="ml-1 form-text text-danger"
                        *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].touched">
                        Invalid password.
                    </span>
                </div>
                <span class="ml-1 form-text text-danger"
                *ngIf="failPassword">
                Invalid username or password
                </span>
                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-success" [disabled]="loginForm.invalid" type="submit">Login</button>
                </div>
            </form>

            <div class="my-3">
                <p class="text-center">
                    <b>user:</b> user@demo.com <b>pass:</b> 123456
                </p>
            </div>
        </div>
    </div>
</div>